<header>
  <aside>
    <button id="mainButton">
      <%= dashboardHeader.mainLabel %>
    </button>
    <button id="newButton">
      <%= dashboardHeader.newLabel %>
    </button>
  </aside>
  <h2 id="mainTitle"><%= dashboardHeader.mainLabel %></h2>
  <h2 id="newTitle" hidden><%= dashboardHeader.newLabel %></h2>
</header>