<header>
  <aside>
    <button id="main">
      <%= dashboardHeader.mainLabel %>
    </button>
    <button id="new">
      <%= dashboardHeader.newLabel %>
    </button>
  </aside>
  <h2 id="main_title"><%= dashboardHeader.mainLabel %></h2>
  <h2 id="new-tilte" hidden><%= dashboardHeader.newLabel %></h2>
</header>