<label>
  <h4>Sector</h4>
  <input type="text" name="sector" id="sector" value="<%= locals.sector ? sector.sector : null %>">
  <span><%= (locals.errors && errors.sector) ? errors.sector.msg : null %></span>
</label>
<%- include(`./submitButton.ejs`) %>