<label>
  <h4>Sector</h4>
  <input type="text" name="sector" id="sector" value="<%= locals.sector?.sector %>">
  <span id="error-sector"><%= locals.errors?.sector?.msg %></span>
</label>
<%- include(`./submitButton.ejs`) %>