<label>
  <h4>Ente Inspector</h4>
  <input type="text" name="ente_inspector" id="ente_inspector" value="<%= locals.ente_inspector?.ente_inspector  %>">
  <span id="error-ente_inspector"><%= locals.errors?.ente_inspector?.msg %></span>
</label>
<%- include(`./submitButton.ejs`) %>