<nav>
  <ul>
    <li>
      <a href="/dashboard/estados">
        Estados
      </a>
    </li>
    <li>
      <a href="/dashboard/roles">
        Roles
      </a>
    </li>
    <li>
      <a href="/dashboard/origenes">
        Origenes
      </a>
    </li>
    <li>
      <a href="/dashboard/sectores">
        Sectores
      </a>
    </li>
    <li>
      <a href="/dashboard/inspectores">
        Entes Inspectores
      </a>
    </li>
    <li>
      <a href="/dashboard/usuarios">
        Usuarios
      </a>
    </li>
  </ul>
</nav>