/* Colors & other configs */
:root {
  --white: #fff;
  --ice: #ebebeb;
  --font: #4b4b4d /* rgb(75, 75, 77) */;
  --logo: #ED3237; /* rgb(237, 50, 55); */
  --logo-secondary:  #A9abae; /* rgb(169, 171, 174); */ 
  --shadow: rgba(169, 171, 174, 0.4);
  --success: #39b54a;
  --error: orangered;
  --info: #4b9bd9;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Body */
body {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: var(--ice);
  color: var(--dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  scroll-behavior: smooth;
}

body.pac-actions{
  overflow-y: hidden;
}

header.fixed {
  padding: 10px;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 7px 0px rgba(50,50,50,0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  z-index: 100;
  background-color: var(--ice);
}

header aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 208px;
}

header figure{
  max-width: 220px;
  display: flex;
  justify-content: space-between;
}

header figure img{
  width: 90%;
}

header aside figure {
  max-width: 50px;
}

header aside figure img {
  width: 100%;
}

header aside a {
  color: var(--logo);
  text-decoration: none;
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid var(--logo);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

header aside a:hover {
  background-color: var(--logo);
  color: var(--white);
  border: 2px solid transparent;
}

main {
  width: 100%;
  margin-top: 15vh;
  min-height: 85vh;
}

main section{
  width: 100%;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

body.pac-actions main section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-block: 0;
}

body.pac-actions main section aside.sidebar {
  all: unset;
  color: var(--white);
  background-color: var(--font);
  box-shadow: 0px 2px 10px 1px rgba(130, 130, 130);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
  width: 249px;
  transition: width 0.3s ease-in-out;
  flex-shrink: 0; 
}

body.pac-actions main section aside.sidebar.collapsed {
  width: 70px;
}

/* Botón de toggle */
body.pac-actions main section aside.sidebar button.toggle {
  all: unset;
  background: #333;
  color: var(--logo-secondary);
  border: none;
  padding-block: 15px;
  padding-inline: 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: auto;
  box-sizing: border-box;
  border-bottom: 2px solid var(--logo-secondary);
  transition: all 0.5s ease-in-out;
}

body.pac-actions main section aside.sidebar button.toggle:hover {
  background: var(--font);
  color: var(--ice);
}

body.pac-actions main section aside.sidebar button.toggle i {
  margin-right: 15px;
  flex-shrink: 0;
}

body.pac-actions main section aside.sidebar button.toggle span{
  padding-right: 30px;
  margin: auto;
  text-align: center;
}

body.pac-actions main section aside.sidebar.collapsed button.toggle i {
  margin: auto;
}

body.pac-actions main section aside.sidebar.collapsed button.toggle {
  justify-content: center;
  padding-inline: 0;
}

body.pac-actions main section aside.sidebar.collapsed button.toggle span {
  display: inline-block;
  margin: 0;
  padding-right: 0;
  width: 0;
  opacity: 0;
  transition: opacity 0.1s, width 0s 0.3s, padding-right 0.3s, margin 0.3s;
}

/* Enlaces */
body.pac-actions main section aside.sidebar nav.sidebar-nav {
  padding: 20px 0;
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  padding-block: 5px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a i {
  font-size: 1.2rem;
  margin-right: 15px;
  flex-shrink: 0;
  width: 20px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--font);
  border: 2px solid transparent;
  background-color: var(--white);
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a:hover i.fa-magnifying-glass,
body.pac-actions main section aside.sidebar nav.sidebar-nav a:hover i.fa-user-pen,
body.pac-actions main section aside.sidebar nav.sidebar-nav a:hover i.fa-arrow-rotate-left{
  background-color: var(--success);
  color: var(--white);
}


body.pac-actions main section aside.sidebar nav.sidebar-nav a:hover i.fa-file-arrow-down {
  background-color: var(--logo);
  color: var(--white);
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a:hover i.fa-plus{
  background-color: var(--info);
  color: var(--white);
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a span {
  font-size: 1.4em;
  opacity: 1;
  transition: opacity 0.2s 0.15s, width 0s;
}

body.pac-actions main section aside.sidebar.collapsed nav.sidebar-nav a span {
  opacity: 0;
  width: 0;
  transition: opacity 0.1s, width 0s 0.3s;
}

/* Contenido principal de acciones */

body.pac-actions main section .data-container{
  height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  flex-grow: 1;
  padding-block: 30px;
}

main section table{
  width: 80%;
  border-collapse: collapse;
  margin-inline: auto;
  font-size: 14px;
}

main section table tr{
  vertical-align: middle;
}

main section table th{
  padding: 10px;
  background-color: var(--font);
  color: var(--white);
}

main section table td{
  padding: 5px;
  text-align: center;
  border: 1px solid var(--font);
}

main section table td:nth-child(2){
  min-width: 103px;
}

main section table td:nth-child(4){
  min-width: 153px;
}

main section table td .actions-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

main section table td .actions-container a{
  margin: auto;
  margin-inline: 3px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--font);
}
body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-magnifying-glass,
body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-user-pen,
body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-arrow-rotate-left,
main section table td .actions-container a:has(i.fa-magnifying-glass),
main section table td .actions-container a:has(i.fa-user-pen),
main section table td .actions-container a:has(i.fa-arrow-rotate-left){
  border-color: var(--success);
  color: var(--success);
  transition: all 0.5s ease-in-out;
}

main section table td .actions-container a:has(i.fa-magnifying-glass):hover,
main section table td .actions-container a:has(i.fa-user-pen):hover,
main section table td .actions-container a:has(i.fa-arrow-rotate-left):hover{
  box-shadow: 0 0 10px var(--success)
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-file-arrow-down,
main section table td .actions-container a:has(i.fa-file-arrow-down){
  color: var(--logo);
  border-color: var(--logo);
  transition: all 0.5s ease-in-out;
}

main section table td .actions-container a:has(i.fa-file-arrow-down):hover{
  box-shadow: 0 0 10px var(--logo)
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-plus,
main section table td .actions-container a:has(i.fa-plus){
  color: var(--info);
  border-color: var(--info);
  transition: all 0.5s ease-in-out;
}

main section table td .actions-container a:has(i.fa-plus):hover{
  box-shadow: 0 0 10px var(--info)
}

body.pac-actions main section aside.sidebar nav.sidebar-nav a i.fa-user-pen::before,
main section table td .actions-container a i.fa-user-pen::before{
  margin-left: 4px;
}

main section table td button{
  margin: auto;
  padding-inline: 8px;
  padding-block: 4px;
  border: 2px transparent solid;
  background-color: var(--font);
  color: var(--white);
  font-size: 14px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

main section table tr{
  border: 1px solid var(--font);
  transition: 0.5s ease-out;
}

main section table tr:hover{
  background-color: var(--white);
}

details {
  border-radius: 5px;
  width: 80%;
  background-color: var(--font);
  background-image: linear-gradient(45deg, var(--font) 0%, var(--logo-secondary) 100%);
  border-radius: 5px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url('/img/arrow.svg') no-repeat;  
  background-size: cover;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  border-radius: 5px 5px 0 0;
}

details summary h3 {
  width: 100%;
}

dialog form,
details form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-inline: 1.5em;
  margin-block: 1em;
  background-color: var(--ice);
  padding: 1em;
  border-radius: 5px;
}

dialog form aside,
dialog form label,
details form aside,
details form label{
  width: 25%;
  min-width: 200px;
  margin-top: .5em;
}

dialog form label h3,
details form label h3{
  width: 100%;
  margin-inline: auto;
  margin-bottom: .5em;
}

dialog form label textarea,
dialog form label input,
dialog form label select,
details form label input,
details form label select{
  width: 90%;
  margin-inline: 0;
  padding-inline: .35em;
  padding-block: .25em;
  border: 2px solid transparent;
  border-radius: 3px;
}

dialog form label textarea:focus,
dialog form label input:focus,
dialog form label select:focus,
details form label input:focus,
details form label select:focus{
  outline: 2px solid var(--font);
  outline-offset: 1px;
}

dialog form label textarea{
  resize: none;
  field-sizing: content;
}

main aside,
details form aside{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main aside{
  width: 80%;
  margin-inline: auto;
  align-items: center;
}

main aside button,
details form aside button{
  padding-block: .3em;
  padding-inline: .6em;
  border: 2px var(--success) solid;
  background-color: var(--white);
  color: var(--success);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

main aside button:hover,
details form aside button:hover{
  background-color: var(--success);
  color: var(--white);
  border: 2px transparent solid;
}

main aside button {
  padding-inline: .8em;
  padding-block: .5em;
}

main dialog{
	width: 95%;
	height: auto;
	max-height: 95%;
	margin: auto;
	border-radius: 10px;
	background-color: var(--ice);
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 12px 0px var(--white);
	scale: 0;
	transition: scale 0.3s ease-out,
              display 0.3s ease-out allow-discrete;
}

main dialog[open]{
  scale: 1;
  transition: scale 0.3s ease-out;
  @starting-style{
    scale: 0;
  }
}

main dialog::backdrop {
  background-color: rgba(75, 75, 77, 0.7);
  transition: background-color 0.3s ease-in-out;
}

main dialog header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: .5em;
  background-color: var(--logo);
  color: var(--ice);
  padding-inline: .9em;
  box-shadow: 0px 0px 10px 0px var(--font);
}

main dialog header h2{
  margin: auto;
  text-align: center;
  flex-grow: 1;
}

main dialog header aside,
main dialog header button{
  width: 2em;
  margin: auto;
}

main dialog header button{
  font-size: 1.5em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--logo);
  color: var(--white);
  border: none;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

main dialog header button:hover{
  text-shadow: 0 0 5px var(--ice);
  scale: 1.2;
}

main dialog section{
  all: unset;
}

main dialog section header{
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
}

main dialog section article nav,
main dialog section header nav{
  all: unset;
  width: 39%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 20px;
}

main section .data-container dialog nav button,
main dialog section article nav button,
main dialog section header nav button{
  all: unset;
  padding-block: 8px;
  padding-inline: 12px;
  border: 2px transparent solid;
  background-color: var(--font);
  color: var(--white);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-inline: auto;
}

main dialog section header nav button.inactive{
  background-color: var(--white);
  color: var(--font);
  border: 2px var(--font) solid;
}

main dialog section header nav button:hover,
main dialog section header nav button.inactive:hover{
  text-shadow: unset;
  scale: unset;
}

main dialog section header h2{
  all: unset;
  font-size: 22px;
}

main dialog section article{
  margin-inline: auto;
  margin-block: 20px;
  width: 90%;
}

main section .data-container article,
main dialog section article aside{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: .9em;
  border: 2px solid var(--logo-secondary);
  border-radius: 10px;
}

main section .data-container article{
  margin-inline: auto;
  width: 80%;
  box-shadow: 0px 0px 12px 0px var(--logo-secondary);
}

main section .data-container article h2{
  margin-block: .7em;
  text-align: center;
}

main section .data-container article ul,
main dialog section article aside ul{
  list-style: none;
  padding-inline: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main section .data-container article ul li,
main dialog section article aside ul li{
  margin-inline: 1em;
  min-width: 240px;
  padding-block: .8em;
  font-size: 15px;
}

main section .data-container article ul li h4,
main dialog section article aside ul li h4{
  margin-bottom: .3em;
  font-size: 18px;
}

main dialog section article table{
  width: 100%;
}

main dialog section article table td:last-child {
  display: table-cell;
  padding: 5px;
  text-align: center;
  border: 1px solid var(--font);
}

main dialog section form.hidden,
main dialog section article.hidden{
  display: none;
}

main dialog section form{
  width: 80%;
  margin-inline: auto;
  margin-block: 20px;
}

main dialog section form label.checkbox{
	max-width: 300px;
	min-width: 70px;
}

main dialog section form label.checkbox input{
	all: unset;
	appearance: none;
	margin-right: 0.3em;
	position: relative;
	display: inline-block;
	background: var(--logo-secondary);
	height: 1.45rem;
	width: 2.55rem;
	vertical-align: middle;
	border-radius: 2rem;
	box-shadow: 0px 1px 3px var(--font) inset;
	transition: 0.25s linear background;
}

main dialog section form label.checkbox input::before{
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	background: var(--white);
	border-radius: 1.2rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	box-shadow: 0px 1px 3px var(--font);
	transition: 0.25s linear transform;
	transform: translateX(0rem);
}

main dialog section form label.checkbox input:checked {
  background: var(--logo);
}
main dialog section form label.checkbox input:checked::before {
  transform: translateX(1rem);
}

main dialog section form label.checkbox input:focus {
  outline: transparent;
}

main dialog section form label input.input-file{
  padding-inline: 0.5em;
  background-color: var(--white);
  cursor: pointer;
}

  main dialog form label textarea.input-error,
main dialog form label select.input-error,
main dialog form label input.input-error {
  color: var(--logo);
  border-color: var(--logo);
}

main dialog form label textarea.input-ok,
main dialog form label select.input-ok,
main dialog form label input.input-ok {
  color: var(--success);
  border-color: var(--success);
}

main dialog form label span {
  font-size: 14px;
  display: inline-block;
  padding-inline: .25em;
  margin-top: .5em;
  color: var(--logo);
  width: 90%;
  margin-inline: auto;
  min-height: 2em;
}

/*? estado inicial (oculto) */
article#pac-error,
article#confirm-pac-delete,
article#pac-delete-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  padding-inline: 25px;
  padding-block: 10px;
  background-color: var(--ice);
  box-shadow: 0px 0px 10px 0px var(--font);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-top: var(--logo) 20px solid;

  /* Estado inicial (oculto) */
  opacity: 0;
  display: none; 
  transition: 
    opacity 0.5s ease-out,
    display 0.5s ease-out allow-discrete;
}

/*? etiqueta .hidden que se aplica al estado oculto */
article#pac-error.hidden,
article#confirm-pac-delete.hidden,
article#pac-delete-success.hidden {
  /* transicion a ocultar */
  display: none;
  opacity: 0;
}

/*? etiqueta :not(.hidden) que se aplica al estado visible */
article#pac-error:not(.hidden),
article#confirm-pac-delete:not(.hidden),
article#pac-delete-success:not(.hidden) {
  /* Estado final (visible) */
  opacity: 1;
  display: flex; 
  transition: opacity 0.5s ease-out;
  @starting-style {
    opacity: 0;
    display: flex;
  }
}

article#pac-error h2,
article#pac-error h3,
article#confirm-pac-delete h2,
article#confirm-pac-delete h3,
article#pac-delete-success h2,
article#pac-delete-success h3{
  margin-bottom: 1em;
  margin-inline: auto;
  text-align: center;
}

main section .data-container dialog nav,
article#pac-error nav,
article#confirm-pac-delete nav,
article#pac-delete-success nav{
  width: 70%;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
}

#pac-delete{
  background-color: var(--white);
  color: var(--logo);
  border-color: var(--logo);
}

#pac-delete:hover{
  background-color: var(--logo);
  color: var(--white);
}

/* Estilos spinner-modal */
article#spinner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; 
}

article#spinner-modal .spinner-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

article#spinner-modal .spinner {
  width: 50px;
  height: 50px;
  border: 4px solid var(--ice); 
  border-top-color: var(--logo); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

article#spinner-modal figcaption {
  color: var(--font); 
  font-weight: bold;
}

main section .data-container dialog{
  width: 35%;
  height: fit-content;
  padding-inline: 1.5em;
  padding-block:  0.7em;
  border-top: var(--logo) 20px solid;

}

main section .data-container dialog h2{
  margin-inline: 0.5em;
  text-align: center;
}

main section .data-container dialog form{
  padding-block: 0;
  justify-content: center;
  margin-bottom: 0;
}

main section .data-container dialog label h3{
  margin-bottom: 0.7em;
}

main section .data-container dialog nav{
  margin: auto;
}

main section .data-container dialog nav button#modify-save{
  border: 2px var(--success) solid;
  background-color: var(--white);
  color: var(--success);
}

main section .data-container dialog nav button#modify-save:hover{
  background-color: var(--success);
  color: var(--white);
}

/* ===== ANIMACIÓN ===== */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

article#spinner-modal.hidden {
  display: none;
}