/* Colors & other configs */
:root {
  --white: #fff;
  --ice: #ebebeb;
  --font: #4b4b4d /* rgb(75, 75, 77) */;
  --logo: #ED3237; /* rgb(237, 50, 55); */
  --logo-secondary:  #A9abae; /* rgb(169, 171, 174); */ 
  --shadow: rgba(169, 171, 174, 0.4);
  --success: #39b54a;
  --error: orangered;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Body */
body {
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: var(--ice);
  color: var(--dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  scroll-behavior: smooth;
}

header.fixed {
  padding: 10px;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 7px 0px rgba(50,50,50,0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  z-index: 100;
  background-color: var(--ice);
}

header aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 208px;
}

header figure{
  max-width: 220px;
  display: flex;
  justify-content: space-between;
}

header figure img{
  width: 90%;
}

header aside figure {
  max-width: 50px;
}

header aside figure img {
  width: 100%;
}

main {
  width: 100%;
  margin-top: 15vh;
  min-height: 85vh;
}

main section{
  width: 100%;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main section table{
  width: 80%;
  border-collapse: collapse;
  margin-inline: auto;
  font-size: 14px;
}

main section table tr{
  vertical-align: middle;
}

main section table th{
  padding: 10px;
  background-color: var(--font);
  color: var(--white);
}

main section table td{
  padding: 5px;
  text-align: center;
  border: 1px solid var(--font);
}

main section table td:nth-child(2){
  min-width: 103px;
}

main section table td:last-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  border-color: transparent;
}

main section table td:last-child a{
  margin: auto;
  padding: 1em;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section table td button{
  margin: auto;
  padding-inline: 8px;
  padding-block: 4px;
  border: 2px transparent solid;
  background-color: var(--font);
  color: var(--white);
  font-size: 14px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}

main section table tr{
  border: 1px solid var(--font);
  transition: 0.5s ease-out;
}

main section table tr:hover{
  background-color: var(--white);
}

details {
  border-radius: 5px;
  width: 80%;
  background-color: var(--font);
  background-image: linear-gradient(45deg, var(--font) 0%, var(--logo-secondary) 100%);
  border-radius: 5px;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url('/img/arrow.svg') no-repeat;  
  background-size: cover;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  border-radius: 5px 5px 0 0;
}

details summary h3 {
  width: 100%;
}

dialog form,
details form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-inline: 1.5em;
  margin-block: 1em;
  background-color: var(--ice);
  padding: 1em;
  border-radius: 5px;
}

dialog form aside,
dialog form label,
details form aside,
details form label{
  width: 25%;
  min-width: 200px;
  margin-block: .5em;
}

dialog form label h3,
details form label h3{
  width: 100%;
  margin-inline: auto;
  margin-bottom: .5em;
}

dialog form label input,
dialog form label select,
details form label input,
details form label select{
  width: 90%;
  margin-inline: 0;
  padding-inline: .35em;
  padding-block: .25em;
  border: 1px solid transparent;
  border-radius: 3px;
}

dialog form label input:focus,
dialog form label select:focus,
details form label input:focus,
details form label select:focus{
  outline: 2px solid var(--font);
  outline-offset: 1px;
}

main aside,
details form aside{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main aside{
  width: 80%;
  margin-inline: auto;
  align-items: center;
}

main aside button,
details form aside button{
  padding-block: .3em;
  padding-inline: .6em;
  border: 2px var(--success) solid;
  background-color: var(--white);
  color: var(--success);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

main aside button:hover,
details form aside button:hover{
  background-color: var(--success);
  color: var(--white);
  border: 2px transparent solid;
}

main aside button {
  padding-inline: .8em;
  padding-block: .5em;
}

main dialog{
	width: 95%;
	height: auto;
	max-height: 95%;
	margin: auto;
	border-radius: 10px;
	background-color: var(--ice);
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 12px 0px var(--white);
	scale: 0;
	transition: scale 0.3s ease-out,
              display 0.3s ease-out allow-discrete;
}

main dialog[open]{
  scale: 1;
  transition: scale 0.3s ease-out;
  @starting-style{
    scale: 0;
  }
}

main dialog::backdrop {
  background-color: rgba(75, 75, 77, 0.7);
  transition: background-color 0.3s ease-in-out;
}

main dialog header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: .5em;
  background-color: var(--logo);
  color: var(--ice);
  padding-inline: .9em;
  box-shadow: 0px 0px 10px 0px var(--font);
}

main dialog header h2{
  margin: auto;
  text-align: center;
  flex-grow: 1;
}

main dialog header aside,
main dialog header button{
  width: 2em;
  margin: auto;
}

main dialog header button{
  font-size: 1.5em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--logo);
  color: var(--white);
  border: none;
  transition: all 0.5s ease-out;
}

main dialog header button:hover{
  box-shadow: 0px 0px 10px 0px var(--ice);
}

main dialog section{
  all: unset;
}

main dialog section header{
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
}

main dialog section header nav{
  all: unset;
  width: 39%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-block: 25px;
}

main dialog section header nav button{
  all: unset;
  padding-block: 8px;
  padding-inline: 12px;
  border: 2px transparent solid;
  background-color: var(--font);
  color: var(--white);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

main dialog section header nav button.inactive{
  background-color: var(--white);
  color: var(--font);
  border: 2px var(--font) solid;
}

main dialog section header h2{
  all: unset;
  font-size: 22px;
}
