<section class="managemnet">
  <header>
    <h2 id="mainTitle" class="editFormTitle">
      <%= title %>
    </h2>
  </header>
  <form action=<%=`/dashboard/${path}/eliminar/${id}?_method=DELETE`%> method="POST" id="dashboard-form" class="confirm-delete">
    <aside>
      <button type="submit" class="delete">
        Eliminar
      </button>      
      <button type="button" onclick="window.history.back()">
        Volver
      </button>
    </aside>
  </form>
</section>