<section class="managemnet">
  <header>
    <h2 id="mainTitle" class="editFormTitle">
      <%= title %>
    </h2>
  </header>
  <form action=<%=`/dashboard/${path}/editar/${id}?_method=PUT`%> method="POST" id="dashboard-form" >
    <%- include(`../partials/dashboard/${formulario}.ejs`) %>
  </form>
</section>