<section>
  <header>
    <h2>
      Bienvenido al panel de control de Geopatagonia.
    </h2>
  </header>
  <figure>
    <img src="/img/logo.png" alt="Logo de Geopatagonia" id="logo">
  </figure>
</section>