<section>
  <h2>
    Panel de control
  </h2>
  <p>
    Bienvenido al panel de control de Geopatagonia.
  </p>
  <figure>
    <img src="/img/geo.png" alt="Logo de Geopatagonia" id="logo">
  </figure>
</section>