<header class="fixed">
  <figure>
    <img src="/img/logo.png" alt="Logo de Geopatagonia" id="logo">
  </figure>
  <h1>
    Panel de control
  </h1>
  <aside>
    <figure>
      <img src="/img/default.png" alt="Imagen de perfil de <%= usuario %>" id="perfil">
    </figure>
    <h3>
      <%= usuario  %>
    </h3>
    <a href="/logout">
      <button>
        <i class="fas fa-xmark"></i>
      </button>
    </a>
  </aside>
</header>