header {
  padding: 10px;
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 7px 0px rgba(50,50,50,0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  z-index: 100;
  background-color: var(--ice);
}

header aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 208px;
}

header figure{
  max-width: 220px;
  display: flex;
  justify-content: space-between;
}

header figure img{
  width: 90%;
}

header aside figure {
  max-width: 50px;
}

header aside figure img {
  width: 100%;
}

header aside form{
  background-color: var(--ice);
}

header aside form button {
  color: var(--logo);
  background-color: var(--ice);
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3em;
  border: 2px solid var(--logo);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

header aside form button:hover {
  background-color: var(--logo);
  color: var(--white);
  border: 2px solid transparent;
}

main {
  width: 100%;
  margin-top: 15vh;
  min-height: 85vh;
}

main section{
  width: 100%;
  height: 85vh;
  padding-block: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

main section a {
  margin: auto;
  width: 360px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px var(--font);
  background-color: var(--white);
}

main section a img {
  display: block;
  margin-inline: auto;
  margin-block: 10px;
  width: 80%;
  border-radius: 10px;
}

main section a p {
  margin-block: 0.7em;
  text-align: center;
  color: var(--logo);
  font-size: 1.5em;
  font-weight: bold;
}

/* Dropdown styles */

header aside details.dropdown {
  position: relative;
  padding: 0;
  border: none;
  margin: auto;
  margin-inline: 10px;
  background: var(--ice);
  width: 100%;
  min-width: 106px;
}

header aside details.dropdown summary {
  list-style: none;
  list-style-type: none;
  color: var(--font)!important;
  padding-inline: 5px;
  transition: all 0.2s ease-in;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

header aside details.dropdown[open] summary {
  font-size: 1.05em;
  color: var(--logo)!important;
}

header aside details.dropdown summary h3 {
  width: 100%;
}

header aside details.dropdown summary::after{
  content: '';
  width: 16px;
  height: 8px;
  background: url('/img/arrow.svg') no-repeat;  
  background-size: cover;
  transition: 0.2s;
  display: block;
}

details[open] > summary::after {
  transform: rotate(180deg);
}

header aside details.dropdown ul {
  position: absolute;
  margin: 1em 0 0 0;
  padding: 5px 0;
  width: var(--dropdown-width);
  margin-right: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  background: var(--font);
  color: var(--ice);
  border-radius: 10px;
  list-style: none;
  font-size: 14px;
  font-weight: bolder;
}

header aside details.dropdown ul li {
  padding: 0;
  margin: 0;
}

.link-separator{
  border: var(--logo) 1px solid;
  margin: .2em;
}

header aside details.dropdown ul li a:link, 
header aside details.dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--ice);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

header aside details.dropdown ul li a:hover {
  background-color: var(--logo-secondary);
  color: var(--logo);
}

/* para cerrar el dropdown con click fuera */
header aside details.dropdown > summary::before {
  display: none;
}

header aside details.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

header aside details.dropdown[open] .fa-bars {
  display: none;
}

header aside details.dropdown[open] .fa-xmark {
  display: block; 
}

header aside details.dropdown:not([open]) .fa-xmark {
  display: none;
}

header aside details.dropdown:not([open]) .fa-bars {
  display: block;
}