
main form dialog{
  width: 380px;
  height: fit-content;
	max-height: 95%;
	margin: auto;
  padding-inline: 1.5em;
	border-radius: 10px;
	background-color: var(--ice);
	border: none;
  border-top: var(--logo) 20px solid;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 12px 0px var(--white);
	scale: 0;
	transition: scale 0.3s ease-out,
              display 0.3s ease-out allow-discrete;
}

main form dialog[open]{
  scale: 1;
  transition: scale 0.3s ease-out;
  @starting-style{
    scale: 0;
  }
}

main form dialog::backdrop {
  background-color: rgba(75, 75, 77, 0.7);
  transition: background-color 0.3s ease-in-out;
}

main form dialog article {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--ice);
  border-radius: 8px;
}

main form dialog article h2{
  margin-block: 0.5em;
  text-align: center;
  font-size: 1.5em;
  color: var(--logo);
}

main form dialog article h3{
  margin-block: 1em;
  font-size: .9em;
}

main form dialog article nav{
  width: 70%;
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

main form dialog article nav button{
  all: unset;
  padding-block: 8px;
  padding-inline: 12px;
  border: 2px var(--success) solid;
  background-color: var(--white);
  color: var(--success);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-inline: auto;
}

main form dialog article nav button:hover{
  background-color: var(--success);
  color: var(--white);
}