h1{
  margin: auto;
  text-align: center;
  margin-bottom: 1em;
}

/* probar con glassmorphism */
form{
  width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1em;
  background-color: var(--logo-secondary);
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  font-size: 15px;
}

form label{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

form label h4{
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}

form label div.password-container{
  display: flex;
  align-items: center;
}


form label div.password-container i{
  width: 0;
  transform: translateX(-27px);
  color: var(--font);
  font-size: 1.1em;
  cursor: pointer;
  margin-bottom: 10px;
}

form label input{
  width: 100%;
  padding-block: 3px;
  padding-inline: 5px;
  border-radius: 6px;
  font-size: 15px;
  border: 2px solid transparent;
  font-size: 15px;
  margin-bottom: 10px;
}

form label input.input-error{
  color: var(--logo);
  border-color: var(--logo);
}

form label input.input-ok{
  color: var(--success);
  border-color: var(--success);
}

form label input:focus{
  outline: 2px solid var(--font);
  outline-offset: 1px;
}

form label span{
  font-size: 14px;
  display: inline-block;
  padding-inline: 5px;
  color: var(--logo);
  width: 90%;
  min-height: 1em;
}

form label.checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px
}

form label.checkbox h4{
  margin-block: 0;
}

form label.checkbox input{
	all: unset;
	appearance: none;
	margin-right: 0.3em;
	position: relative;
	display: inline-block;
	background: #666;
	height: 1.45rem;
	width: 2.55rem;
	vertical-align: middle;
	border-radius: 2rem;
	box-shadow: 0px 1px 3px var(--font) inset;
	transition: 0.25s linear background;
}

form label.checkbox input::before{
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	background: var(--white);
	border-radius: 1.2rem;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	box-shadow: 0px 1px 3px var(--font);
	transition: 0.25s linear transform;
	transform: translateX(0rem);
}

form label.checkbox input:checked {
  background: var(--logo);
}

form label.checkbox input:checked::before {
  transform: translateX(1rem);
}

form label.checkbox input:focus {
  outline: transparent;
}

form a {
  display: block;
  color: var(--font);
  text-decoration: none;
  padding-inline: 10px;
  padding-block: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: .5em;
}

form button{
  padding-block: 8px;
  padding-inline: 12px;
  border: 2px transparent solid;
  background-color: var(--font);
  color: var(--white);
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

form button:hover{
  scale: 1.03;
}